<h3>Termine</h3>
<div>
<a *ngIf="myGlobals.bp_isSmScreen">SmScreen</a>
<a *ngIf="myGlobals.bp_isSmScrPrt">SmScrPrt</a>
<a *ngIf="myGlobals.bp_isMidScreen">MidScreen</a>
<a *ngIf="myGlobals.bp_isWideScreen">WideScreen</a>
</div>
<div *ngIf="termine.length > 0">
  <div class="table-responsive">
    <table class="table table-hover questions">
      <thead>
      <tr>
        <th *ngIf="myGlobals.bp_isWideScreen">ID</th>
        <th *ngIf="myGlobals.bp_isWideScreen">IdTermin</th>
        <th>Beginn</th>
        <th *ngIf="!myGlobals.bp_isSmScrPrt">Ende</th>
        <th *ngIf="myGlobals.bp_isWideScreen">Gruppe</th>
        <th>Teilnehmer</th>
        <th *ngIf="myGlobals.bp_isWideScreen">Akt Code</th>
        <th *ngIf="myGlobals.bp_isMidScreen || myGlobals.bp_isWideScreen">GanzerTag</th>
        <th *ngIf="myGlobals.bp_isWideScreen">Dauer unbestimmt</th>
        <th *ngIf="!myGlobals.bp_isSmScrPrt">Akt Beginn</th>
        <th *ngIf="!myGlobals.bp_isSmScrPrt">Akt Ende</th>
        <!--<th *ngIf="isWideScreen">Hinweis</th>-->
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let termin of termine">
        <td *ngIf="myGlobals.bp_isWideScreen">{{termin.Id}}</td>
        <td *ngIf="myGlobals.bp_isWideScreen">{{termin.IdTermin}}</td>
        <td>{{termin.DatumBeginn | date: 'dd.MM.yy'}}</td>
        <td *ngIf="!myGlobals.bp_isSmScrPrt">{{termin.DatumEnde | date: 'dd.MM.yy'}}</td>
        <td *ngIf="myGlobals.bp_isWideScreen">{{termin.GrpCode}}</td>
        <td>{{termin.TnVorname}} {{termin.TnNachname}}</td>
        <td  *ngIf="myGlobals.bp_isWideScreen" style="text-align:center;"> {{termin.AktCode}}</td>
        <td  *ngIf="myGlobals.bp_isMidScreen || bp_isWideScreen" style="text-align:center;"><input type="checkbox"  [checked]="termin.GanzerTag" onclick="return false;"/></td>
        <td  *ngIf="myGlobals.bp_isWideScreen" style="text-align:center;"><input type="checkbox"  [checked]="termin.ZeitUnbestimmt" onclick="return false;"/></td>
        <td *ngIf="!termin.GanzerTag && !myGlobals.bp_isSmScrPrt">{{termin.DatumBeginn | date: 'HH:mm'}}</td>
        <td *ngIf="!termin.GanzerTag && !myGlobals.bp_isSmScrPrt">{{termin.DatumEnde | date: 'HH:mm'}}</td>
        <!--<td *ngIf="isWideScreen">{{termin.Hinweis}}</td>-->
        <td>
          <button type="submit"
                  (click)="onEdit(termin)"
                  class="btn btn-sm btn-success">
            <i class="fas fa-edit"></i>
            <a *ngIf="myGlobals.bp_isMidScreen || myGlobals.bp_isWideScreen"> Edit</a>
          </button>
        </td>
        <td>
          <button type="submit"
                  (click)="onDelete(termin)"
                  class="btn btn-sm btn-danger">
            <i class="fas fa-trash-alt"></i>
            <a *ngIf="myGlobals.bp_isMidScreen || myGlobals.bp_isWideScreen"> Löschen</a>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="termine.length == 0">
  Diese Gruppe hat (noch) keine Termine: klicke auf <strong>Neuen Termin erstellen</strong> Button um den Ersten zu erfassen!
</div>

<button *ngIf="!showAllData" (click)="onCreate()" class="btn btn-sm btn-primary">
  <i class="fa fa-plus-circle"></i>
  Neuen Termin erstellen
</button>

