<div class="termine-edit edit_form">
  <div class="title">Termin: {{title}}</div>
  <div *ngIf="master > 0"><h5>Termin: {{master}}</h5></div>
  <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="mydatum" class="col-sm-2 col-form-label">Datum:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="mydatum"
               formControlName="DatumBeginn"
               bsDatepicker [bsConfig]="datePickerConfig"
               [bsValue]="DatumBeginn"
               [value]="DatumBeginn"
               (bsValueChange)="onChangeDatumBeginn($event)" />
      </div>
      <label class="col-form-label">bis</label>
      <div class="col-sm-3">
        <input type="text" class="form-control"
               formControlName="DatumEnde"
               bsDatepicker [bsConfig]="datePickerConfig"
               [bsValue]="DatumEnde"
               [value]="DatumEnde" />
      </div>
    </div>

    <div *ngIf="selGruppen.length > 0" >
      <div class="form-group row">
        <label for="idGruppe" class="col-sm-2 col-form-label">Gruppe:</label>
        <div class="col-sm-3">
          <select id="idGruppe" formControlName="IdGruppe" required class="form-control"
                  (change)="onChangeGruppe($event.currentTarget.value)">
            <option *ngFor="let gruppe of selGruppen" [value]="gruppe.Id"  >
              {{gruppe.Id}}  {{gruppe.Code}} {{gruppe.Bezeichnung}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="selTeilnehmer.length > 0" >
      <div class="form-group row">
        <label for="idTeilnehmer" class="col-sm-2 col-form-label">Teilnehmer:</label>
        <div class="col-sm-3">
          <select id="idTeilnehmer" formControlName="IdTeilnehmer" required class="form-control">
            <option *ngFor="let teilnehmer of selTeilnehmer" [value]="teilnehmer.Id"  >
              {{teilnehmer.Id}}  {{teilnehmer.Vorname}} {{teilnehmer.Nachname}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="selAktivitaeten.length > 0" >
      <div class="form-group row">
        <label for="idAktivitaet" class="col-sm-2 col-form-label">Aktivität:</label>
        <div class="col-sm-3">
          <select id="idAktivitaet" formControlName="IdAktivitaet" required class="form-control"
                  (change)="onChangeAktivitaet($event.currentTarget.value)">
            <option *ngFor="let akt of selAktivitaeten" [value]="akt.Id"  >
              {{akt.Id}}  {{akt.Code}} {{akt.Bezeichnung}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="ganzertag" class="col-sm-2 col-form-label">Ganztägig:</label>
      <div class="col-sm-3 chkganztaegig">
        <input id="ganzertag" type="checkbox" formControlName="GanzerTag" (change)="onClickGanzerTag($event)" />
      </div>
    </div>

    <div *ngIf="!GanzerTag == true" >
      <div class="form-group row">
        <label for="zeitBeginn" class="col-sm-2 col-form-label">Beginn:</label>
        <div class="col-sm-3">
          <input class="form-control" type="time" [value]="ZeitBeginn" id="zeitBeginn"
                 formControlName="ZeitBeginn"/>
        </div>
        <label class="col-form-label">bis</label>
        <div class="col-sm-3">
          <input class="form-control" type="time" [value]="ZeitEnde" id="zeitEnde"
                 formControlName="ZeitEnde"/>
        </div>
      </div>
    </div>

    <!--<div class="input-group row">-->
    <div class="form-group row">
      <label for="wiederholungen" class="col-sm-2 col-form-label">Wiederholungen:</label>
      <div class="tabwiederholungen" id="wiederholungen">
        <table>
          <thead>
            <tr>
              <th class="td_size">Mo</th>
              <th class="td_size">Di</th>
              <th class="td_size">Mi</th>
              <th class="td_size">Do</th>
              <th class="td_size">Fr</th>
              <th class="td_size">Sa</th>
              <th class="td_size">So</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td_size"><input id="mo" type="checkbox" formControlName="MoWH"/></td>
              <td class="td_size"><input id="di" type="checkbox" formControlName="DiWH"/></td>
              <td class="td_size"><input id="mi" type="checkbox" formControlName="MiWH"/></td>
              <td class="td_size"><input id="do" type="checkbox" formControlName="DoWH"/></td>
              <td class="td_size"><input id="fr" type="checkbox" formControlName="FrWH"/></td>
              <td class="td_size"><input id="sa" type="checkbox" formControlName="SaWH"/></td>
              <td class="td_size"><input id="so" type="checkbox" formControlName="SoWH"/></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--<div class="selAnzWHLabel">
        <label for="idWiederholungen">Termin </label>
      </div>-->
      <label class="col-form-label">Termin</label>
      <div *ngIf="zzTerminAnzWiederholungen.length > 0" >
        <div class="selAnzWH">
          <select id="idWiederholungen" formControlName="AnzWiederholungen" required class="form-control">
            <option *ngFor="let data of zzTerminAnzWiederholungen" [value]="data.Count"  >
              {{data.Bezeichnung}}
            </option>
          </select>
        </div>
      </div>
      <!--<label class="col-form-label">wiederholen</label>-->
      <!--<div class="selAnzWHLabel">
        <label for="idWiederholungen">wiederholen</label>
      </div>-->
    </div>

    <div class="form-group row">
      <label for="hinweis" class="col-sm-2 col-form-label">Hinweis:</label>
      <div class="col-sm-3">
        <input type="text" id="hinweis"
               formControlName="Hinweis"
               placeholder="Hinweis eingeben..."
               class="form-control" />
      </div>
    </div>




    <div class="navbar">
      <!--<div class="form-group commands">-->
        <button *ngIf="editMode" type="submit"
                [disabled]="form.invalid"
                class="btn btn-sm btn-success">
          <i class="fas fa-save"></i>
          Speichern
        </button>
        <button *ngIf="!editMode" type="submit"
                [disabled]="form.invalid"
                class="btn btn-sm btn-success">
          <i class="fas fa-plus-circle"></i>
          Termin erstellen
        </button>


        <button id="btnShowDataJson " type="button" (click)="onShowDataJson()"
                class={{showDebugInfoBtnClass}} >
          <i class={{showDataJsonBtnIcon}}></i>
          {{showDataJsonTitle}}
        </button>

        <button type="submit"
                (click)="onBack()"
                class="btn btn-sm btn-secondary">
          <i class="fas fa-arrow-alt-circle-left"></i>
          Zurück
        </button>
      <!--</div>-->
    </div>

  </form>
</div>
<!--<div *ngIf="showDataJson" class="row">-->
<div *ngIf="!showDataJson">
<div class="form-debug-info">
  <!--<div class="panel panel-info"
       style="margin: 20px 20px 20px 20px;">-->
    <div class="title">Debug Info</div>

    <div class="panel-body">
      <p><strong>Form value:</strong></p>
      <div class="help-block">
        {{ form.value | json }}
      </div>
      <p><strong>Form status:</strong></p>
      <div class="help-block">
        {{ form.status | json }}
      </div>
      <div *ngIf="activityLog">
        <p><strong>Form activity log:</strong></p>
        <div class="help-block">
              <span *ngIf="activityLog"
                    [innerHTML]="activityLog"></span>
        </div>
      </div>

      <a><strong>Auswahl: Gruppen</strong></a>
      <ngx-json-viewer [json]=selGruppen [expanded]="false"></ngx-json-viewer>
      <br>
      <a><strong>Auswahl: Teilnehmer</strong></a>
      <ngx-json-viewer [json]=selTeilnehmer [expanded]="false"></ngx-json-viewer>
      <br>
      <a><strong>Auswahl: Aktivitäten</strong></a>
      <ngx-json-viewer [json]=selAktivitaeten [expanded]="false"></ngx-json-viewer>
    </div>
  <!--</div>-->
</div>
</div>


