.table thead tr th {
  border-bottom: 2px solid #8ec4e5;
  border-top: 5px solid #8ec4e5;
}

.chkganztaegig {
  padding-left: 20px;
  margin-top: 10px;
}

.tabwiederholungen {
  color: #5bc0de;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
}

.td_size {
  width:35px;
  height:20px;
  text-align: center;
}

.selAnzWHLabel {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-top: 27px;
  padding-left: 15px;
}

.selAnzWH {
  width: 90px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-top: 20px;
  padding-left: 15px;
}

.mytextbox
{
  margin-left: 30px;
  width: 110px;
}

.help-block {
  display: block;
  margin-top: -15px;
  margin-bottom: 10px;
  color: #1626f0;
}

