<div class="container-fluid">
  <div class="row">
    <h4>{{title}}</h4>
    <button *ngIf="!showAllData"
            class="btn btn-sm btn-primary ml-auto"
            (click)="onCreate()">
      <i class="fa fa-plus-circle"></i>
      neue Aktivität
    </button>
  </div>
</div>


<div *ngIf="code_aktivitaeten.length > 0">
  <div class="table-responsive">
    <table class="table table-hover table-striped questions">
      <thead  *ngIf="globals.bp_isMidOrWideScreen">
      <tr>
        <th>Code</th>
        <th>Bezeichnung</th>
        <th *ngIf="globals.bp_isMidOrWideScreen">Gruppe</th>
        <th *ngIf="globals.bp_isMidOrWideScreen">GanzerTag</th>
        <th *ngIf="globals.bp_isMidOrWideScreen">Dauer unbestimmt</th>
        <th *ngIf="globals.bp_isMidOrWideScreen">ShowZeiten</th>
        <th *ngIf="globals.bp_isMidOrWideScreen">Beginn</th>
        <th *ngIf="globals.bp_isMidOrWideScreen">Ende</th>
        <th *ngIf="globals.bp_isMidOrWideScreen"></th>
        <th *ngIf="globals.bp_isMidOrWideScreen">Summieren</th>
        <th *ngIf="globals.bp_isMidOrWideScreen"></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let aktivitaet of code_aktivitaeten"
          [class.selected]="aktivitaet === selectedAktivitaet"
          (click)="onEdit(aktivitaet)">
        <td>{{aktivitaet.Code}}</td>
        <td>{{aktivitaet.Bezeichnung}}</td>
        <td *ngIf="globals.bp_isMidOrWideScreen">{{aktivitaet.GruppeCode}}</td>
        <td *ngIf="globals.bp_isMidOrWideScreen" style="text-align:center;"><input type="checkbox"
                                                                                   [checked]="aktivitaet.GanzerTag"
                                                                                   onclick="return false;"/></td>
        <td *ngIf="globals.bp_isMidOrWideScreen" style="text-align:center;"><input type="checkbox"
                                                                                   [checked]="aktivitaet.ZeitUnbestimmt"
                                                                                   onclick="return false;"/></td>
        <td *ngIf="globals.bp_isMidOrWideScreen" style="text-align:center;"><input type="checkbox"
                                                                                   [checked]="aktivitaet.ShowZeiten"
                                                                                   onclick="return false;"/></td>
        <td
          *ngIf="globals.bp_isMidOrWideScreen && aktivitaet.ShowZeiten">{{aktivitaet.ZeitBeginn | date: 'HH:mm'}}</td>
        <td *ngIf="globals.bp_isMidOrWideScreen && aktivitaet.ShowZeiten">{{aktivitaet.ZeitEnde | date: 'HH:mm'}}</td>
        <td *ngIf="globals.bp_isMidOrWideScreen && !aktivitaet.ShowZeiten"></td>
        <td *ngIf="globals.bp_isMidOrWideScreen && !aktivitaet.ShowZeiten"></td>
        <td *ngIf="globals.bp_isMidOrWideScreen">
          <p class="square" [style.background-color]=[aktivitaet.Farbe]></p>
        </td>
        <td *ngIf="globals.bp_isMidOrWideScreen" style="text-align:center;">
          <input type="checkbox" [checked]="aktivitaet.Summieren" onclick="return false;"/>
        </td>
        <td>
          <button type="submit"
                  (click)="onEdit(aktivitaet)"
                  class="btn btn-sm btn-success">
            <i class="fas fa-edit"></i>
            <a *ngIf="globals.bp_isMidOrWideScreen"> Ändern</a>
          </button>
        </td>
        <td>
          <button type="submit"
                  (click)="onDelete(aktivitaet)"
                  class="btn btn-sm btn-danger">
            <i class="fas fa-trash-alt"></i>
            <a *ngIf="globals.bp_isMidOrWideScreen"> Löschen</a>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="code_aktivitaeten.length == 0">
  Diese Gruppe hat (noch) keine Aktivitäten: klicke auf <strong>Neue Aktivität erstellen</strong> Button um die Erste
  zu erfassen!
</div>

<!--<button *ngIf="!showAllData" (click)="onCreate()" class="btn btn-sm btn-primary">
  <i class="fa fa-plus-circle"></i>
  Neue Aktivität erstellen
</button>-->


<!--<div class="form-group commands">
  <button id="btnShowDataJson " type="button" (click)="onShowDataJson()"
          class={{showDataJsonBtnClass}} >
    <i class={{showDataJsonBtnIcon}}></i>
    {{showDataJsonTitle}}
  </button>
</div>-->


<div *ngIf="showDataJson" class="row">
  <div class="col-xs-12 col-md-12">
    <a>Aktivitäten</a>
    <pre class="code-preview">{{code_aktivitaeten | json}}</pre>
  </div>
</div>

