<h3 xmlns:Background-color="http://www.w3.org/1999/xhtml">{{title}}</h3>
<div *ngIf="code_aktivitaeten.length > 0">
  <div class="table-responsive">
    <table class="table table-hover questions">
      <!--<colgroup> <col width="90px">  </colgroup>-->
      <thead>
      <tr>
        <th>Code</th>
        <th>Bezeichnung</th>
        <th>Gruppe</th>
        <th>GanzerTag</th>
        <th>Beginn</th>
        <th>Ende</th>
        <th></th>
        <th>Summieren</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let aktivitaet of code_aktivitaeten">
        <td>{{aktivitaet.Code}}</td>
        <td>{{aktivitaet.Bezeichnung}}</td>
        <td>{{aktivitaet.GruppeCode}}</td>
        <td style="text-align:center;"><input type="checkbox"  [checked]="aktivitaet.GanzerTag" onclick="return false;"/></td>
        <td *ngIf="aktivitaet.GanzerTag"></td>
        <td *ngIf="aktivitaet.GanzerTag"></td>
        <td *ngIf="!aktivitaet.GanzerTag">{{aktivitaet.ZeitBeginn | date: 'HH:mm'}}</td>
        <td *ngIf="!aktivitaet.GanzerTag">{{aktivitaet.ZeitEnde | date: 'HH:mm'}}</td>
        <td>
          <p class="square" [style.background-color]=[aktivitaet.Farbe]></p>
        </td>
        <td style="text-align:center;"><input type="checkbox"  [checked]="aktivitaet.Summieren" onclick="return false;"/></td>
        <td>
          <button type="submit"
                  (click)="onEdit(aktivitaet)"
                  class="btn btn-sm btn-success">
            <i class="fas fa-edit"></i>
            Edit
          </button>
        </td>
        <td>
          <button type="submit"
                  (click)="onDelete(aktivitaet)"
                  class="btn btn-sm btn-danger">
            <i class="fas fa-trash-alt"></i>
            Löschen
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="code_aktivitaeten.length == 0">
  Diese Gruppe hat (noch) keine Aktivitäten: klicke auf <strong>Neue Aktivität erstellen</strong> Button um die Erste zu erfassen!
</div>

<button *ngIf="!showAllData" (click)="onCreate()" class="btn btn-sm btn-primary">
  <i class="fa fa-plus-circle"></i>
  Neue Aktivität erstellen
</button>


<div class="form-group commands">
  <button id="btnShowDataJson " type="button" (click)="onShowDataJson()"
          class={{showDataJsonBtnClass}} >
    <i class={{showDataJsonBtnIcon}}></i>
    {{showDataJsonTitle}}
  </button>
</div>

<div *ngIf="showDataJson" class="row">
  <div class="col-xs-12 col-md-12">
    <a>Aktivitäten</a>
    <pre class="code-preview">{{code_aktivitaeten | json}}</pre>
  </div>
</div>
